  html {
      background: url('https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xap1/v/t34.0-12/10514782_10204032679479059_230755188_n.jpg?oh=4637fe21d37d0d816b7eeba3e17d9e15&oe=5626B435');
      background-size: cover;
      font-family: 'Montserrat', sans-serif;
    }

    #homepage {
      text-align: center;
      color: white;
    }
    #nav {
      padding: 10px;
      background: rgba(0,0,0,0.3);
      text-align: center;
      margin: -10px;
    }
    a {
      color: white;
      text-decoration: none;
    }
    li {
      display: inline;
      padding: 0px 15px 0px 15px; 
      font-size: 17px; 
    }
    h1 {
      font-size: 100px;
      color: #808080;
    }
    h2 {
      color: white;
      text-align: center;
      margin: -50px 0px 0px 530px;
      border-color: white;
      border-style: dotted;
      padding: 10px;
      max-width: 200px;
    }
   
    
